p {
    color: #555;
    line-height: 23px;
    margin-bottom: 20px;
    text-align: justify;
}

.container {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.navbar-default {
    border: 0;
    background: #fff;
}

.navbar .navbar-right {
    margin-top: 8px;
}

.navbar-default {
    margin-bottom: 0;
    padding: 16px 0;
    transition: 0.5s;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    padding-top: 8px;
    padding-bottom: 9px;
}

.navbar-default .navbar-brand {
    padding: 0;
}

#logo-web {
    transition: 0.5s;
    max-width: 100%;
}

.navbar-fixed-top.navbar-default #logo-web {
    width: 81%;
    transition: 0.5s
}

.navbar-fixed-top .nav>li>a {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-fixed-top.navbar-default {
    padding: 9px 0;
    background: rgba(255, 255, 255, 0.95);
    transition: 0.5s;
    border-bottom: 1px solid #ccc;
    /* padding-bottom: 0; */
    box-shadow: 0px 1px 4px #ccc;
}

/*banner*/

/*-- Slider --*/

#slider {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
    float: none;
    text-align: center;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    left: 0;
    top: 0;
}

.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../image/arrows.png) no-repeat left top;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 22px;
}

.callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 22px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks2_nav:active {
    opacity: 1.0;
}

#slider-pager a {
    display: inline-block;
}

#slider-pager span {
    float: left;
}

#slider-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider-pager a {
    padding: 0;
}

#slider-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 560px;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0%;
    top: 0;
    width: 100%;
}

.rslides li {
    position: relative;
    display: block;
    float: none;
    height: 100%;
}

.rslides img {
    height: auto;
    border: 0;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 66.5%;
    z-index: 999;
    left: 45%;
    padding: 0em 0.6em 1em 0.3em;
    margin: 0;
    display: none;
}

.callbacks_tabs li {
    display: inline-block;
    margin: 0.5em;
}

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #fff;
    border: none;
    border-radius: 50%;
}

.callbacks_here a:after {
    background: #168eea;
}

.slider-info {
    background: #fff;
    opacity: 0.85;
    box-shadow: 3px 1px 22px -9px #000;
    position: absolute;
    top: 9em;
    z-index: 999;
    left: 0;
    width: 48%;
    padding: 30px 0px;
    border-radius: 5px;
    /* height: 100%; */
    right: 0;
    margin: 0 auto;
}

.ban-logo {
    width: 105px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.arrow-dn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px double #fff;
    line-height: 50px;
    margin: 0 auto;
    background: #7a90ff;
    margin-top: 40px;
}

.slider-img {
    height: 100%;
}

.slider-img img {
    height: 100%;
    width: 100%;
    box-shadow: 3px 1px 22px -9px #000;
}

.slider-info h3 {
    font-size: 42px;
    font-weight: 900;
    color: #27507a;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 2px 0px 10px;
}

.slider-info p {
    font-size: 18px;
    font-weight: 500;
    color: #c5965e;
    text-align: center;
    margin: 0 auto;
    line-height: 35px;
    letter-spacing: 1px;
}

.slider-info h4 {
    font-size: 40px;
    color: #c5965e;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 7px;
}

h6 {
    margin: 0 auto;
    z-index: 999;
}

h6 a {
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
}

.slider-top span {
    font-weight: 600;
}

.callbacks_tabs li {
    display: inline-block;
    margin: 0 7px;
}

/*-- //Slider --*/

/*banner*/

/*About-us*/

#mu-about {
    background-color: #fff;
    box-shadow: 3px 1px 22px -9px #000;
    display: inline;
    float: left;
    width: 100%;
}

.mu-about-area {
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
}

.mu-about-left {
    display: inline;
    float: left;
    width: 100%;
    box-shadow: 0px 8px 71px -9px rgba(0, 0, 0, 0.4);
}

.mu-about-right h2 {
    color: #27507a;
}

.mu-about-right {
    display: inline;
    float: left;
    margin-top: 45px;
    width: 130%;
    background-color: #fff;
    padding: 10px 38px;
    margin-left: -175px;
    box-shadow: 3px 1px 22px -9px #000;
}

.mu-about-right h2::after {
    width: 110px;
    height: 4px;
    background: #c5965e;
    content: "";
    display: block;
    margin: 10px 0px 15px 0px;
}

.mu-about-right h2 {
    font-weight: 600;
}

.mu-about-right p {
    font-size: 15px;
}

.mu-scrolldown {
    font-size: 35px;
    color: #27507a;
    display: inline-block;
    margin-top: 14px;
}

/*services*/

.service {
    background: #27507a;
    padding: 40px 0 100px;
}

.service .section-title {
    margin-top: 227px;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    color: #c5965e;
    font-size: 44px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}

.service .section-title span {
    color: #fff;
}

.section-title h2 span {
    color: #42bc7f;
}

.service .single-service {
    position: relative;
    margin-top: 60px;
    padding-left: 75px;
}

.service .single-service i {
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 2px solid #c5965e;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
}

.service .single-service h5 {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.service .single-service p {
    color: #fffc;
    font-size: 15px;
    font-weight: 300;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-pencil:before {
    content: "\f040";
}

.section-title h2::after {
    width: 110px;
    height: 4px;
    background: #fff;
    content: "";
    display: block;
    margin: 10px auto 0;
}

h3.hm-head ::after {
    width: 110px;
    height: 4px;
    background: #fff;
    content: "";
    display: block;
    margin: 10px auto 0;
}

.footer {
    padding: 65px 0 40px;
    background: #34394c;
    font-size: 16px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.8);
}

.footer-about p {
    color: #fcfcfc;
}

.footer-address p a {
    color: #fcfcfc;
}

.footer-address p {
    color: #fcfcfc;
}

.footer-title {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.footer-title h3 {
    font-size: 22px;
}

h3.footer-title::after {
    width: 50px;
    height: 4px;
    background: #c5965e;
    content: "";
    display: block;
    margin: 10px 0px 15px 0px;
}

.footer-nav ul {
    padding: 49px 0 50px;
}

.copyright {
    border-top: 1px solid rgba(197, 150, 94, 0.6);
    padding-top: 35px;
    font-size: 12px;
    line-height: 18px;
}

.copyright p {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.copyright a {
    color: #fff;
    display: inline-block;
}

.footer-nav ul {
    padding: 49px 0 50px;
}

.footer-nav li:first-child {
    padding-top: 0;
}

.footer-nav li {
    padding: 0 22px;
    display: inline-block;
}

.footer-nav a {
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0 4px;
    color: #ffffff;
    position: relative;
}

.footer-nav a:hover {
    color: #c5975c;
}

.footer a {
    display: block;
    color: #fff;
}

.footer-nav a:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    opacity: 0;
    width: 0;
    height: 1px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #facd8a;
}

ul.footer-media-link li img {
    width: 35px;
    transition: 0.5s;
}

ul.footer-media-link {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-media-link li {
    display: inline-block;
}

.footer-media-link a {
    font-size: 28px;
    line-height: 1;
    padding: 10px;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
}

/*contact-form*/

.section {
    padding: 14px 0 60px 0px;
}

.contact-form {
    padding: 40px 0 60px 0px;
    background: #f2f2f2;
    box-shadow: 3px 1px 22px -9px #000;
}

.section h3 {
    font-size: 33px;
    color: #27507a;
    font-weight: 600;
}

.section-title {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.section-title h3 {
    margin-bottom: 20px;
}

.section-title h3::after {
    width: 90px;
    height: 4px;
    background: #27507a;
    content: "";
    display: block;
    margin: 10px auto 0;
}

span.alternate {
    color: #c5975c;
    font-style: italic;
    font-weight: 400;
}

.section p {
    font-size: 20px;
    line-height: 26px;
    color: #848484;
    margin-bottom: 0;
}

.contact-form .form-control {
    margin-bottom: 30px;
}

.form-control.main {
    background: transparent;
    border: 1px solid #b3b3b3;
    border-radius: 0;
    font-size: 15px;
    padding: 22px 20px;
    margin-bottom: 20px;
    color: #b3b3b3;
    box-shadow: 1px 10px 20px -12px rgba(0, 0, 0, 0.2);
}

}

.contact-form button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-main-md {
    padding: 15px 40px;
    border-radius: 0;
    background: #c5965e;
    color: #fff;
    outline: none;
    font-size: 0.9375rem;
}

.btn {
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 14px 27px;
    font-size: 16px;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}

.btn-main-md:hover {
    color: #fff;
    background: #27507a;
}

.btn:hover {
    text-decoration: none;
}

.hm-team {
    text-align: center;
    padding-bottom: 30px;
    background: rgba(138, 191, 0, 0.45);
    background: url(../image/team-bg.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    border: 1px solid #8abf00;
    border-top: 0;
}

.hm-team:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    content: "";
}

.hm-team img {
    margin: 0 auto;
    width: 105px !important;
    height: 105px !important;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 17px #ddd;
}

.hm-team p {
    text-align: center;
    padding: 0 10px;
}

.info-btn a {
    background: #8abf00;
    color: #fff;
    padding: 6px 22px;
    border-radius: 6px;
    border: 1px dashed;
    transition: 0.5s;
}

.info-btn a:hover {
    transition: 0.5s;
    background: #333;
    padding: 6px 28px;
}

.hm-team .carousel-indicators {
    bottom: 0px;
}

.info-btn {
    margin-bottom: 60px;
}

.hm-team h3 {
    font-weight: bold;
    margin-bottom: 4px;
}

.hm-team .carousel-indicators li {
    background-color: #000;
    width: 30px;
}

.hm-team .carousel-indicators .active {
    background-color: #8abf00;
    width: 30px;
    border: 0;
}

.hm-team h4 {
    font-weight: 400;
    color: #999;
    font-size: 16px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 20px;
}

.three-cl {
    padding: 40px 0px;
}

.three-cl h3 {
    padding: 20px 0;
    background: #7a90ff;
    position: relative;
    transition: all 0.3s ease 0s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 99;
}

.three-cl img {
    border: 0px solid #8abf00;
    transition: 0.5s;
    width: 100%;
    transition: 0.5s;
}

.three-cl-inner {
    margin-bottom: 50px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    height: 337px;
    transition: 0.5s;
}

.three-cl-inner:hover img {
    transition: 0.5s;
    transform: scale(1.2) rotate(5deg)
}

.three-cl-inner:before {
    content: "";
    position: absolute;
    right: -50px;
    width: 50px;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}

.three-cl-inner:hover {
    transition: 0.5s;
    transform: translate(0, -20px);
    box-shadow: 0px 8px 4px #ccc;
}

.three-cl-inner:after {
    content: "";
    position: absolute;
    left: -50px;
    width: 50px;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}

.three-cl-inner:hover:before {
    right: 100%;
    transition: 0.5s;
    width: 100%;
}

.three-cl-inner:hover:after {
    left: 100%;
    transition: 0.5s;
    width: 100%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 16px solid transparent;
    border-top: 20px solid #5055d5;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.copyright-lft {
    float: left;
    color: #fff;
}

.copyright-rht {
    float: right;
    font-size: 13px;
}

.copyright-rht ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: right
}

.copyright-rht ul li {
    display: inline-block;
    margin-left: 18px;
    border-left: 1px solid #ff6600;
    padding-left: 18px;
    line-height: 13px;
    text-transform: uppercase;
}

.copyright-rht ul li:first-child {
    border-left: 0;
}

.top {
    position: fixed;
    right: 18px;
    bottom: 30px;
    text-align: center;
    color: #fff;
    background: #c5975c;
    padding: 10px 10px;
    z-index: 99;
    border-radius: 50%;
    border: 2px solid #27507a;
    cursor: pointer;
    opacity: 0;
    transition: ease-in 0.5s;
}

.top.scll-top {
    opacity: 1;
    transition: ease-in 0.5s;
    bottom: 50px;
}

.top .fa {
    display: block !important;
}

.two-cl .hm-head {
    font-size: 30px;
    margin-top: 0;
    padding-top: 40px;
    position: relative;
}

.two-cl .head-sep {
    margin-bottom: 5px;
}

@media(max-width:1024px) {
    .animatedParent {
        overflow: hidden;
    }
    .nav>li>a {
        padding: 9px 9px;
    }
    .three-cl-inner {
        height: auto;
    }
    .hm-serv-bx-cnt p {
        line-height: 18px;
        margin-bottom: 7px;
        font-size: 13px;
    }
    .hm-serv-bx-cnt h3 {
        font-size: 19px;
        margin-bottom: 18px;
    }
    .navbar-fixed-top .nav>li>a {
        padding-left: 13px;
        padding-right: 12px;
    }
}

@media(max-width:1024px) {
    .hm-serv-bx-cnt p {
        line-height: 22px;
        margin-bottom: 7px;
        font-size: 15px;
    }
    .hm-serv-bx-cnt h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .hm-serv-bx {
        height: auto;
    }
    .hm-serv-bx-cnt p {
        margin-bottom: 25px;
    }
}

@media(max-width:769px) {
    .three-cl h3 {
        font-size: 23px;
    }
    .copyright-rht ul li {
        padding-left: 10px;
        margin-left: 10px;
    }
    .navbar .navbar-right {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
    .nav>li>a {
        padding: 9px 15px;
    }
    #logo-web {
        height: 100%;
    }
}

@media(max-width:736px) {
    .mu-about-right {
        width: 100%;
        margin-left: 0px;
    }
    .slider-info h4 {
        font-size: 35px;
    }
    .slider-info h3 {
        font-size: 30px;
    }
    .rslides {
        height: 300px;
    }
    .ban-logo {
        width: 75px;
    }
    .slider-info {
        top: 59px;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        border-color: #27507a;
        background-color: #27507a;
    }
    .navbar-toggle {
        background-color: #27507a;
        border-color: #27507a;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .cont-rht ul,
    .copyright-lft,
    .copyright-rht {
        font-size: 13px;
    }
    #bs-example-navbar-collapse-1 {
        margin: 0;
        padding: 0;
        border-top: 0;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        padding: 5px 10px;
        background: #5055d5;
        border-bottom: 1px solid #fff;
    }
}

@media(max-width:667px) {
    .three-cl h3 {
        font-size: 17px;
    }
    .mu-scrolldown {
        margin-top: -12px;
    }
    .slider-info {
        width: 70% !important;
    }
}

@media(max-width:568px) {
    .cont-rht {
        padding-bottom: 15px;
        width: 100%;
    }
    .cont-lft {
        width: 100%;
        margin-right: 0;
    }
    .copyright-lft,
    .copyright-rht {
        width: 100%;
        text-align: center;
    }
    .copyright-rht ul {
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
    }
    .copyright-rht ul li {
        font-size: 12px;
    }
}

@media(max-width:480px) {
    .ban-logo {
        width: 60px;
    }
    .slider-info h4 {
        font-size: 22px;
    }
    .slider-info h3 {
        font-size: 16px;
    }
    .slider-info p {
        font-size: 14px;
        line-height: 5px;
    }
    .arrow-dn {
        display: none;
    }
    .callbacks_nav {
        background-size: 198% 100%;
        width: 40px;
        height: 40px;
        top: 110px;
    }
    .hm-serv-bx-img {
        width: 40%;
    }
    .hm-head {
        margin-bottom: 0;
        font-size: 32px;
    }
    .container {
        font-size: 14px;
    }
    .hm-about p {
        line-height: 21px;
    }
    .three-cl .col-md-4 {
        width: 100%;
    }
    .three-cl-inner {
        margin-bottom: 10px;
    }
}

@media(max-width:414px) {
    .hm-serv-bx-img {
        display: none;
    }
    .hm-serv-bx-cnt {
        padding: 0 20px 0 20px;
    }
}

@media(max-width:375px) {
    .hm-serv-bx-cnt h3 {
        font-size: 20px;
    }
    .two-cl .hm-head {
        font-size: 24px;
    }
    .callbacks_nav.next {
        right: 6px;
    }
    .callbacks_nav.prev {
        LEFT: 6px;
    }
    .rslides {
        height: 210px;
    }
    .callbacks_nav {
        top: 86px;
    }
    .slider-info {
        top: 35px;
    }
    .hm-about .carousel {
        height: 170px;
    }
}